.static {
  position: static
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.h-12 {
  height: 3rem
}

.h-9 {
  height: 2.25rem
}

.h-full {
  height: 100%
}

.w-12 {
  width: 3rem
}

.w-9 {
  width: 2.25rem
}

.w-9\/12 {
  width: 75%
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-solid {
  border-style: solid
}

.p-3 {
  padding: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pt-16 {
  padding-top: 4rem
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}
